

#scorediv{
 border-style:solid;
 border-color: black;
 width: 300px;
 height: 70px
}

#flipbuttondiv{
    display: inline-block;
}

#resetbuttondiv{
    display: inline-block;
}

#resultdiv{
    border-style:solid;
    border-color: black;
    width: 300px;
    height: 70px
   }