body{
    background: maroon;
}
.recipe-image{
    background: darkolivegreen;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centerforText {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}