#container1{
    display: flex; /* This sets up flexbox for us on the big div container that holds our 3 boxes */
    
    justify-content: space-around;
    
    
}

#container1 div{
    border: 2px rgb(0, 0, 0) solid;  /* did a border aroound our container div so we can see it  */
    padding: 10px
    

}


#divname{
    
    
}

#divpic{
   
   
}

#divlang{
   
  
}



img {
    border-radius: 50%;
    width:10em; 
    height:10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



