.carddiv{
    
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 15px;   
    margin: 10px; 
    
}

.cardcontainer{
    width: 25%;
}

.cardimage{
    width: 100%;
}